<td class='code'>{{name}}</td>
<td>
    {{#if isBody}}
        {{#ifSwaggerUiConfig "showParameterDataTypeColumn"}}
        <textarea class='body-textarea' readonly='readonly' name='{{name}}'>{{defaultValue}}</textarea>
        {{else}}
        <textarea class='body-textarea' readonly='readonly' placeholder='{{type}}' name='{{name}}'>{{defaultValue}}</textarea>
        {{/ifSwaggerUiConfig}}
    {{else}}
        {{#if defaultValue}}
            {{defaultValue}}
        {{else}}
            (empty)
        {{/if}}
    {{/if}}
</td>
<td>{{{description}}}</td>
<td>{{{paramType}}}</td>
{{#ifSwaggerUiConfig "showParameterDataTypeColumn"}}
<td><span class="model-signature"></span></td>
{{/ifSwaggerUiConfig}}