<td class='code required'>{{name}}</td>
<td>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}'/>
		{{else}}
			{{#ifSwaggerUiConfig "showParameterDataTypeColumn"}}
			<textarea class='body-textarea' placeholder='(required)' name='{{name}}'>{{defaultValue}}</textarea>
			{{else}}
			<textarea class='body-textarea' placeholder='{{type}} (required)' name='{{name}}'>{{defaultValue}}</textarea>
			{{/ifSwaggerUiConfig}}	
			<br />
			{{#unlessSwaggerUiConfig "showParameterDataTypeColumn"}}
			<a class="paste-model-template" href="#"><img src="images/paste_plain.png" style="margin-right: 4px"/>Paste model template</a>
			<br>
			{{/unlessSwaggerUiConfig}}
			{{#ifSwaggerUiConfig "showParameterContentType"}}
			<div class="parameter-content-type" />
			{{/ifSwaggerUiConfig}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input class='parameter' class='required' type='file' name='{{name}}'/>
		{{else}}
			{{#ifSwaggerUiConfig "showParameterDataTypeColumn"}}
			<input class='parameter required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value='{{defaultValue}}'/>
			{{else}}
			<input class='parameter required' minlength='1' name='{{name}}' placeholder='{{type}} (required)' type='text' value='{{defaultValue}}'/>
			{{/ifSwaggerUiConfig}}	
		{{/if}}
	{{/if}}
</td>
<td>
	<strong>{{{description}}}</strong>
</td>
<td>{{{paramType}}}</td>
{{#ifSwaggerUiConfig "showParameterDataTypeColumn"}}
<td><span class="model-signature"></span></td>
{{/ifSwaggerUiConfig}}